
.cols,
.columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -.4rem;
  margin-right: -.4rem;
}

.cols.col-gapless,
.columns.col-gapless {
  margin-left: 0;
  margin-right: 0;
}

.cols.col-gapless > .column,
.columns.col-gapless > .column {
  padding-left: 0;
  padding-right: 0;
}

.cols.col-oneline,
.columns.col-oneline {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}

[class~="col-"],
.column {
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  padding-left: .4rem;
  padding-right: .4rem;
}

[class~="col-"].col-12,
[class~="col-"].col-11,
[class~="col-"].col-10,
[class~="col-"].col-9,
[class~="col-"].col-8,
[class~="col-"].col-7,
[class~="col-"].col-6,
[class~="col-"].col-5,
[class~="col-"].col-4,
[class~="col-"].col-3,
[class~="col-"].col-2,
[class~="col-"].col-1,
[class~="col-"].col-auto,
.column.col-12,
.column.col-11,
.column.col-10,
.column.col-9,
.column.col-8,
.column.col-7,
.column.col-6,
.column.col-5,
.column.col-4,
.column.col-3,
.column.col-2,
.column.col-1,
.column.col-auto {
  -ms-flex: none;
  flex: none;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: auto;
}

.col-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-ml-auto {
  margin-left: auto;
}

.col-mr-auto {
  margin-right: auto;
}

.form-label {
  display: block;
  line-height: 1.2rem;
  padding: .3rem 0;
  text-align: left;
}

.form-label.label-sm {
  font-size: .7rem;
  padding: .1rem 0;
}

.form-label.label-lg {
  font-size: .9rem;
  padding: .4rem 0;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: none;
  border: .05rem solid #cbd0d9;
  border-radius: .2rem;
  color: #3b4351;
  display: block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  max-width: 100%;
  outline: none;
  padding: .25rem .4rem;
  position: relative;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  width: 100%;
}

.form-input:focus {
  border-color: #5e81f4; 
  box-shadow: 0 0 0 .1rem rgba(94, 129, 244, .2);
}

.form-input:-ms-input-placeholder {
  color: #bcc3ce;
}

.form-input::-ms-input-placeholder {
  color: #bcc3ce;
}

.form-input::placeholder {
  color: #bcc3ce;
}

.form-input.input-sm {
  font-size: .7rem;
  height: 1.4rem;
  padding: .05rem .3rem;
}

.form-input.input-lg {
  font-size: .9rem;
  height: 2rem;
  padding: .35rem 1.2rem;
}

.form-input.input-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.form-input[type="file"] {
  height: auto;
}

textarea.form-input,
textarea.form-input.input-lg,
textarea.form-input.input-sm {
  height: auto;
}

.form-input-hint {
  color: #bcc3ce;
  font-size: .7rem;
  margin-top: .2rem;
}

.has-success .form-input-hint,
.is-success + .form-input-hint {
  color: #32b643;
}

.has-error .form-input-hint,
.is-error + .form-input-hint {
  color: #e85600;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff; 
  border: .05rem solid #cbd0d9;
  border-radius: .2rem;
  color: inherit;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: .25rem .4rem;
  vertical-align: middle;
  width: 100%;
}

.form-select:focus {
  border-color: #5e81f4; 
  box-shadow: 0 0 0 .1rem rgba(94, 129, 244, .2);
}

.form-select::-ms-expand {
  display: none;
}

.form-select.select-sm {
  font-size: .7rem;
  height: 1.4rem;
  padding: .05rem 1.1rem .05rem .3rem;
}

.form-select.select-lg {
  font-size: .9rem;
  height: 2rem;
  padding: .35rem 2rem .35rem 1.2rem;
}

.form-select[size],
.form-select[multiple] {
  height: auto;
  padding: .25rem .4rem;
}

.form-select[size] option,
.form-select[multiple] option {
  padding: .1rem .2rem;
}

.form-select:not([multiple]):not([size]) {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.4rem .5rem;
  padding-right: 1.2rem;
}

.has-icon-left,
.has-icon-right {
  position: relative;
}

.has-icon-left .form-icon,
.has-icon-right .form-icon {
  height: .8rem;
  margin: 0 .25rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: .8rem;
  z-index: 2;
}

.has-icon-left .form-icon {
  left: .05rem;
}

.has-icon-left .form-input {
  padding-left: 1.3rem;
}

.has-icon-right .form-icon {
  right: .05rem;
}

.has-icon-right .form-input {
  padding-right: 1.3rem;
}

.form-checkbox,
.form-radio,
.form-switch {
  display: block;
  line-height: 1.2rem;
  margin: .2rem 0;
  min-height: 1.4rem;
  padding: .1rem .4rem .1rem 1.2rem;
  position: relative;
}

.form-checkbox input,
.form-radio input,
.form-switch input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.form-checkbox input:focus + .form-icon,
.form-radio input:focus + .form-icon,
.form-switch input:focus + .form-icon {
  border-color: #5e81f4; 
  box-shadow: 0 0 0 .1rem rgba(94, 129, 244, .2);
}

.form-checkbox input:checked + .form-icon,
.form-radio input:checked + .form-icon,
.form-switch input:checked + .form-icon {
  background: #5e81f4;
  border-color: #5e81f4;
}

.form-checkbox .form-icon,
.form-radio .form-icon,
.form-switch .form-icon {
  border: .05rem solid #adb6c4;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
}

.form-checkbox.input-sm,
.form-radio.input-sm,
.form-switch.input-sm {
  font-size: .7rem;
  margin: 0;
}

.form-checkbox.input-lg,
.form-radio.input-lg,
.form-switch.input-lg {
  font-size: .9rem;
  margin: .3rem 0;
}

.form-checkbox .form-icon,
.form-radio .form-icon {
  background: #fff;
  height: .8rem;
  left: 0;
  top: .3rem;
  width: .8rem;
}

.form-checkbox input:active + .form-icon,
.form-radio input:active + .form-icon {
  background: #eef0f3;
}

.form-checkbox .form-icon {
  border-radius: .2rem;
}

.form-checkbox input:checked + .form-icon::before {
  background-clip: padding-box;
  border: .1rem solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 9px;
  left: 50%;
  margin-left: -3px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 6px;
}

.form-checkbox input:indeterminate + .form-icon {
  background: #5e81f4;
  border-color: #5e81f4;
}

.form-checkbox input:indeterminate + .form-icon::before {
  background: #fff;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 10px;
}

.form-radio .form-icon {
  border-radius: 50%;
}

.form-radio input:checked + .form-icon::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
}

.form-switch {
  padding-left: 2rem;
}

.form-switch .form-icon {
  background: #bcc3ce;
  background-clip: padding-box;
  border-radius: .45rem;
  height: .9rem;
  left: 0;
  top: .25rem;
  width: 1.6rem;
}

.form-switch .form-icon::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: .8rem;
  left: 0;
  position: absolute;
  top: 0;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s;
  width: .8rem;
}

.form-switch input:checked + .form-icon::before {
  left: 14px;
}

.form-switch input:active + .form-icon::before {
  background: #f7f8f9;
}

.hyper-input-group {
  display: -ms-flexbox;
  display: flex;
}

.hyper-input-group .hyper-input-group-addon {
  background: #f7f8f9;
  border: .05rem solid #adb6c4;
  border-radius: .2rem;
  line-height: 1.2rem;
  padding: .25rem .4rem;
  white-space: nowrap;
}

.hyper-input-group .hyper-input-group-addon.addon-sm {
  font-size: .7rem;
  padding: .05rem .3rem;
}

.hyper-input-group .hyper-input-group-addon.addon-lg {
  font-size: .9rem;
  padding: .35rem 1.2rem;
}

.hyper-input-group .form-input,
.hyper-input-group .form-select {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
}

.hyper-input-group .hyper-input-group-btn {
  z-index: 1;
}

.hyper-input-group .form-input:first-child:not(:last-child),
.hyper-input-group .form-select:first-child:not(:last-child),
.hyper-input-group .hyper-input-group-addon:first-child:not(:last-child),
.hyper-input-group .hyper-input-group-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.hyper-input-group .form-input:not(:first-child):not(:last-child),
.hyper-input-group .form-select:not(:first-child):not(:last-child),
.hyper-input-group .hyper-input-group-addon:not(:first-child):not(:last-child),
.hyper-input-group .hyper-input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -.05rem;
}

.hyper-input-group .form-input:last-child:not(:first-child),
.hyper-input-group .form-select:last-child:not(:first-child),
.hyper-input-group .hyper-input-group-addon:last-child:not(:first-child),
.hyper-input-group .hyper-input-group-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -.05rem;
}

.hyper-input-group .form-input:focus,
.hyper-input-group .form-select:focus,
.hyper-input-group .hyper-input-group-addon:focus,
.hyper-input-group .hyper-input-group-btn:focus {
  z-index: 2;
}

.hyper-input-group .form-select {
  width: auto;
}

.hyper-input-group.input-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.has-success .form-input,
.form-input.is-success,
.has-success .form-select,
.form-select.is-success {
  background: #f9fdfa;
  border-color: #32b643;
}

.has-success .form-input:focus,
.form-input.is-success:focus,
.has-success .form-select:focus,
.form-select.is-success:focus {
  box-shadow: 0 0 0 .1rem rgba(50, 182, 67, .2);
}

.has-error .form-input,
.form-input.is-error,
.has-error .form-select,
.form-select.is-error {
  background: #fffaf7;
  border-color: #e85600;
}

.has-error .form-input:focus,
.form-input.is-error:focus,
.has-error .form-select:focus,
.form-select.is-error:focus {
  box-shadow: 0 0 0 .1rem rgba(232, 86, 0, .2);
}

.has-error .form-checkbox .form-icon,
.form-checkbox.is-error .form-icon,
.has-error .form-radio .form-icon,
.form-radio.is-error .form-icon,
.has-error .form-switch .form-icon,
.form-switch.is-error .form-icon {
  border-color: #e85600;
}

.has-error .form-checkbox input:checked + .form-icon,
.form-checkbox.is-error input:checked + .form-icon,
.has-error .form-radio input:checked + .form-icon,
.form-radio.is-error input:checked + .form-icon,
.has-error .form-switch input:checked + .form-icon,
.form-switch.is-error input:checked + .form-icon {
  background: #e85600;
  border-color: #e85600;
}

.has-error .form-checkbox input:focus + .form-icon,
.form-checkbox.is-error input:focus + .form-icon,
.has-error .form-radio input:focus + .form-icon,
.form-radio.is-error input:focus + .form-icon,
.has-error .form-switch input:focus + .form-icon,
.form-switch.is-error input:focus + .form-icon {
  border-color: #e85600; 
  box-shadow: 0 0 0 .1rem rgba(232, 86, 0, .2);
}

.has-error .form-checkbox input:indeterminate + .form-icon,
.form-checkbox.is-error input:indeterminate + .form-icon {
  background: #e85600;
  border-color: #e85600;
}

.form-input:not(:-ms-input-placeholder):invalid {
  border-color: #e85600;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: #e85600;
}

.form-input:not(:-ms-input-placeholder):invalid:focus {
  background: #fffaf7; 
  box-shadow: 0 0 0 .1rem rgba(232, 86, 0, .2);
}

.form-input:not(:placeholder-shown):invalid:focus {
  background: #fffaf7; 
  box-shadow: 0 0 0 .1rem rgba(232, 86, 0, .2);
}

.form-input:not(:-ms-input-placeholder):invalid + .form-input-hint {
  color: #e85600;
}

.form-input:not(:placeholder-shown):invalid + .form-input-hint {
  color: #e85600;
}

.form-input:disabled,
.form-input.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #eef0f3;
  cursor: not-allowed;
  opacity: .5;
}

.form-input[readonly] {
  background-color: #f7f8f9;
}

input:disabled + .form-icon,
input.disabled + .form-icon {
  background: #eef0f3;
  cursor: not-allowed;
  opacity: .5;
}

.form-switch input:disabled + .form-icon::before,
.form-switch input.disabled + .form-icon::before {
  background: #fff;
}

.form-horizontal {
  padding: .4rem 0;
}

.form-horizontal .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-inline {
  display: inline-block;
}

.card {
  background: #fff;
  border: .05rem solid #cbd0d9;
  border-radius: .2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card .card-header,
.card .card-body,
.card .card-footer {
  padding: .8rem;
  padding-bottom: 0;
}

.card .card-header:last-child,
.card .card-body:last-child,
.card .card-footer:last-child {
  padding-bottom: .8rem;
}

.card .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card .card-image {
  padding-top: .8rem;
}

.card .card-image:first-child {
  padding-top: 0;
}

.card .card-image:first-child img {
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}

.card .card-image:last-child img {
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.card.card-shadow {
  border: 0; 
  box-shadow: 0 .1rem .3rem rgba(48, 55, 66, .15);
} 

.ocr-card {
  font-size: 0.75rem;
}

.label {
  background: #eef0f3;
  border-radius: .2rem;
  color: #455060;
  display: inline-block; 
  line-height: 1.25;
  padding: .1rem .2rem;
}

.label.label-rounded {
  border-radius: 5rem;
  padding-left: .4rem;
  padding-right: .4rem;
}

.label.label-primary {
  background: #5e81f4;
  color: #fff;
}

.label.label-secondary {
  background: white;
  color: #5e81f4;
}

.label.label-success {
  background: #32b643;
  color: #fff;
}

.label.label-warning {
  background: #ffb700;
  color: #fff;
}

.label.label-error {
  background: #e85600;
  color: #fff;
}

.bar {
  background: #eef0f3;
  border-radius: .2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: .8rem;
  width: 100%;
}

.bar.bar-sm {
  height: .2rem;
}

.bar .bar-item {
  background: #5e81f4;
  color: #fff;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: .7rem;
  height: 100%;
  line-height: .8rem;
  position: relative;
  text-align: center;
  width: 0;
}

.bar .bar-item:first-child {
  border-bottom-left-radius: .2rem;
  border-top-left-radius: .2rem;
}

.bar .bar-item:last-child {
  border-bottom-right-radius: .2rem;
  border-top-right-radius: .2rem;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.bar-slider {
  height: .1rem;
  margin: .4rem 0;
  position: relative;
}

.bar-slider .bar-item {
  left: 0;
  padding: 0;
  position: absolute;
}

.bar-slider .bar-item:not(:last-child):first-child {
  background: #eef0f3;
  z-index: 1;
}

.bar-slider .bar-slider-btn {
  background: #5e81f4;
  border: 0;
  border-radius: 50%;
  height: .6rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: .6rem;
}

.bar-slider .bar-slider-btn:active {
  box-shadow: 0 0 0 .1rem #5e81f4;
}