.hyper-tooltip::after {
    background: rgba(48, 55, 66, .95);
    border-radius: .2rem;
    bottom: 100%;
    color: #fff;
    content: attr(data-hyper-tooltip);
    display: block;
    font-size: .7rem;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: .2rem .4rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, .4rem);
    transition: opacity .2s, transform .2s;
    white-space: pre;
    z-index: 300;
}

.hyper-tooltip:focus::after,
.hyper-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%, -.2rem);
}

.hyper-tooltip[disabled],
.hyper-tooltip.disabled {
    pointer-events: auto;
}

.hyper-tooltip.hyper-tooltip-right::after {
    bottom: 50%;
    left: 100%;
    transform: translate(-.2rem, 50%);
}

.hyper-tooltip.hyper-tooltip-right:focus::after,
.hyper-tooltip.hyper-tooltip-right:hover::after {
    transform: translate(.2rem, 50%);
}

.hyper-tooltip.hyper-tooltip-bottom::after {
    bottom: auto;
    top: 100%;
    transform: translate(-50%, -.4rem);
}

.hyper-tooltip.hyper-tooltip-bottom:focus::after,
.hyper-tooltip.hyper-tooltip-bottom:hover::after {
    transform: translate(-50%, .2rem);
}

.hyper-tooltip.hyper-tooltip-left::after {
    bottom: 50%;
    left: auto;
    right: 100%;
    transform: translate(.4rem, 50%);
}

.hyper-tooltip.hyper-tooltip-left:focus::after,
.hyper-tooltip.hyper-tooltip-left:hover::after {
    transform: translate(-.2rem, 50%);
}

.hyper-popover {
    display: inline-block;
    position: relative;
}

.hyper-popover .hyper-popover-container {
    left: 50%;
    opacity: 0;
    padding: .4rem;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s;
    width: 320px;
    z-index: 300;
}

.hyper-popover.lock .hyper-popover-container,
.hyper-popover *:focus + .hyper-popover-container,
.hyper-popover:hover .hyper-popover-container {
    display: block;
    opacity: 1;
    transform: translate(-50%, -100%) scale(1);
}

.hyper-popover.hyper-popover-right .hyper-popover-container {
    left: 100%;
    top: 50%;
}

.hyper-popover.hyper-popover-right.lock .hyper-popover-container,
.hyper-popover.hyper-popover-right *:focus + .hyper-popover-container,
.hyper-popover.hyper-popover-right:hover .hyper-popover-container {
    transform: translate(0, -50%) scale(1);
}

.hyper-popover.hyper-popover-bottom .hyper-popover-container {
    left: 50%;
    top: 100%;
}

.hyper-popover.hyper-popover-bottom.lock .hyper-popover-container,
.hyper-popover.hyper-popover-bottom *:focus + .hyper-popover-container,
.hyper-popover.hyper-popover-bottom:hover .hyper-popover-container {
    transform: translate(-50%, 0) scale(1);
}

.hyper-popover.hyper-popover-left .hyper-popover-container {
    left: 0;
    top: 50%;
}

.hyper-popover.hyper-popover-left.lock .hyper-popover-container,
.hyper-popover.hyper-popover-left *:focus + .hyper-popover-container,
.hyper-popover.hyper-popover-left:hover .hyper-popover-container {
    transform: translate(-100%, -50%) scale(1);
}

.hyper-popover .card {
    border: 0; 
    box-shadow: 0 .2rem .5rem rgba(48, 55, 66, .15);
}

.ocr-line {
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.spatial-layout-container {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    background-size: cover;
}
